---
layout: page
title: Blog
permalink: /blog/
comments: true
---

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

          {% if page.comments %}
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = "http://localhost:4000/";  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = "http://localhost:4000/blog/"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                  var d = document, s = d.createElement('script');

                  s.src = '//Ikablog.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          {% endif %}
      </li>
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
